html,
body {
  height: 100%;
  margin: 0;
}

body {
  --background-color-main: #685227;

  overflow-x: clip;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --baseSize: 220px;

  --size: var(--baseSize);

  --c1: #774f38;
  --c2: #d6bc9a;

  --g: radial-gradient(
    #0000 60%,
    var(--c1) 61% 63%,
    #0000 64% 77%,
    var(--c1) 78% 80%,
    #0000 81%
  );

  --c: #0000 75%, var(--c2) 0;

  background:
    conic-gradient(at 12% 20%, var(--c)) calc(var(--size) * 0.44)
      calc(0.9 * var(--size)),
    conic-gradient(at 12% 20%, var(--c)) calc(var(--size) * -0.06)
      calc(0.4 * var(--size)),
    conic-gradient(at 20% 12%, var(--c)) calc(0.9 * var(--size))
      calc(var(--size) * 0.44),
    conic-gradient(at 20% 12%, var(--c)) calc(0.4 * var(--size))
      calc(var(--size) * -0.06),
    var(--g),
    var(--g) calc(var(--size) / 2) calc(var(--size) / 2) var(--c2);

  background-size: var(--size) var(--size);

  @media (max-aspect-ratio: 8 / 9) {
    --size: calc(var(--baseSize) / 2);
  }
}

body,
button {
  font-family: Verdana, sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent;
}

#main-container {
  position: relative;

  background-color: var(--background-color-main);

  aspect-ratio: 8 / 9;
  height: calc(max(min(100%, 700px), 80%));
  border: 5px solid black;

  display: grid;
  grid-template-rows: calc(100% * 1 / 9) calc(100% * 8 / 9);

  @media (max-aspect-ratio: 8 / 9) {
    width: 100%;
    border-width: 3px;
    height: auto;
  }
}

#game-header {
  background-color: var(--background-color-main);

  display: flex;
  justify-content: flex-end;

  container-type: size;

  user-select: none;

  &:not(.can-undo) > .header-button.undo-dependent,
  &.moving > .header-button.moving-dependent,
  &:not(.cycling) > .header-button.cycle-dependent {
    color: rgb(150, 150, 150);
    cursor: auto;
    pointer-events: none;
  }
}

#player-time-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 10cqh;
  margin-right: auto;
  padding-left: 15cqh;
  padding-top: 7cqh;
  padding-bottom: 7cqh;
}

#player-indicator {
  font-size: 40cqh;
  color: white;
}

#game-time {
  font-size: 30cqh;
  color: white;
}

.header-button {
  aspect-ratio: 1;

  -webkit-tap-highlight-color: transparent;

  color: white;

  cursor: pointer;

  transition: color 300ms linear;
}

@media (hover: hover) {
  .header-button:hover {
    color: red;
  }
}

@media (hover: none) {
  .header-button.mobile-active {
    color: red;
  }
}

#game-container {
  position: relative;

  > * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

#game-board {
  background-image: repeating-conic-gradient(#566936 0% 25%, #ffeebb 25% 50%);
  background-size: calc(100% / 8 * 2) calc(100% / 8 * 2);
}

#board-lines {
  --line-width: 3%;
  background-image:
    linear-gradient(
      to right,
      black 0% var(--line-width),
      transparent var(--line-width) calc(100% - var(--line-width)),
      black calc(100% - var(--line-width))
    ),
    linear-gradient(
      to bottom,
      black 0% var(--line-width),
      transparent var(--line-width) calc(100% - var(--line-width)),
      black calc(100% - var(--line-width))
    );
  background-size: calc(100% / 8) calc(100% / 8);
  background-repeat: repeat;
}

dialog {
  user-select: none;

  display: block;

  opacity: 0;

  &:not([open]) {
    transform: scale(0.8);
  }

  &[open] {
    opacity: 1;
    pointer-events: inherit;
  }

  &:modal {
    position: absolute;
  }

  pointer-events: none;
  transition:
    opacity 0.1s linear,
    transform 0.1s linear;

  font-size: 25px;

  --border-width: 4px;

  @media (max-aspect-ratio: 8 / 9) {
    font-size: 18px;
    --border-width: 2px;
  }

  border-radius: 20px;
  border-color: black;
  border-width: var(--border-width);
  box-sizing: border-box;

  background-color: var(--background-color-main);
  color: white;
}

#restart-dialog {
  padding: 0;

  max-width: 500px;

  @media (max-aspect-ratio: 8 / 9) {
    max-width: 350px;
  }

  text-align: center;

  > p {
    margin: 0;
    padding: 10px;
    font-size: 1.3em;
  }

  > form {
    background-color: #d6bc9a;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

    > button {
      --padHor: 1.7em;
      --padVer: 0.4em;

      color: white;

      border: var(--border-width) solid black;

      &:focus-visible {
        outline: 2px solid white;
        outline-offset: -2px;
      }

      font-size: 1em;
      border-radius: 20px;
      padding-left: var(--padHor);
      padding-right: var(--padHor);
      padding-top: var(--padVer);
      padding-bottom: var(--padVer);

      background-color: #774f38;

      &:hover {
        background-color: #62351c;
      }

      cursor: pointer;

      transition: background-color 200ms linear;
    }
  }
}

#dropdown-dialog {
  position: absolute;

  left: auto;
  bottom: auto;

  display: flex;

  padding: 0;
  flex-direction: column;
  justify-content: flex-start;

  right: 10px;
  top: calc(100% / 9 + 10px);

  margin: 0;

  > button {
    --padHor: 1em;
    --padVer: 0.4em;

    border: none;

    color: white;

    outline-color: aqua;

    box-sizing: border-box;

    font-size: 1em;
    padding-left: var(--padHor);
    padding-right: var(--padHor);
    padding-top: var(--padVer);
    padding-bottom: var(--padVer);

    background-color: var(--background-color-main);

    &:hover {
      background-color: #62351c;
    }

    &:focus-visible {
      outline: 2px solid white;
      outline-offset: -2px;
    }

    &:not(:last-child) {
      border-bottom: var(--border-width) black solid;
    }

    &:first-child {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:last-child {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    cursor: pointer;

    transition: background-color 200ms linear;
  }
}
